In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

%matplotlib inline

In [2]:
# Load dataframe from .pickle file
play_file_pickle = '/Users/ZhijingYe/Desktop/data/output/reduced_play_log.pkl'
df_play = pd.read_pickle(play_file_pickle)

In [3]:
df_play.head()

,uid,device,song_type,play_time,song_length,label,date,song_id_new,singer_popularity_rank
0,168308107,ar,0,296,296,0,20170410,816,183
1,168112765,ar,0,272,0,0,20170410,13121,35
2,168274411,ar,0,24,156,0,20170410,140473,25366
3,168274411,ar,0,333,334,0,20170410,1171,431
4,168274411,ar,0,155,156,0,20170410,140473,25366

In [4]:
# For churn prediction, choose the logs before the cut-off date 20170422
df_play = df_play.loc[df_play.date < '20170422']

In [5]:
df_play.date.unique()

array(['20170410', '20170411', '20170401', '20170414', '20170418',
       '20170408', '20170404', '20170308', '20170415', '20170419',
       '20170409', '20170305', '20170405', '20170302', '20170402',
       '20170412', '20170403', '20170413', '20170331', '20170406',
       '20170416', '20170421', '20170307', '20170407', '20170417',
       '20170420', '20170309', '20170301', '20170304', '20170330',
       '20170306', '20170303', '20170339'], dtype=object)

In [13]:
df_play_1.date = df_play.date.copy()

In [14]:
df_play_1.date.sort()

In [17]:
print(df_play_1.date.unique())

['20170301' '20170302' '20170303' '20170304' '20170305' '20170306'
 '20170307' '20170308' '20170309' '20170330' '20170331' '20170339'
 '20170401' '20170402' '20170403' '20170404' '20170405' '20170406'
 '20170407' '20170408' '20170409' '20170410' '20170411' '20170412'
 '20170413' '20170414' '20170415' '20170416' '20170417' '20170418'
 '20170419' '20170420' '20170421']

### Two features to create: 1. rare_song_player (taking 0,1), and 2. song_popular_ratio

#### Get the set of most popular songs

In [18]:
number_of_times_played_dist = df_play[['uid','song_id_new']].groupby('song_id_new').count()\
                            .rename(columns={"uid": "play_count"})

In [19]:
number_of_times_played_dist.reset_index(inplace = True)

In [20]:
number_of_times_played_dist.head()

   song_id_new  play_count
0            1      143771
1            2      113161
2            3       75450
3            4       61404
4            5       55509

In [21]:
number_of_times_played_dist.tail()

        song_id_new  play_count
764739       911024           1
764740       911025           1
764741       911026           1
764742       911027           1
764743       911028           1

In [22]:
bins = [0, 1, 100, 1000, 10000, 100000]

In [23]:
group_names = ['1','1~100', '100~1000', '1000~10000', '10000~10000']

In [24]:
number_of_times_played_dist['group'] = pd.cut(number_of_times_played_dist.play_count, bins, labels=group_names)

In [25]:
number_of_times_played_dist.group.value_counts()

1~100          475896
1              266344
100~1000        20207
1000~10000       2216
10000~10000        79
dtype: int64

In [26]:
# Calculate the percentage of each group
number_of_times_played_dist.group.value_counts()/number_of_times_played_dist.shape[0]

1~100          0.622295
1              0.348279
100~1000       0.026423
1000~10000     0.002898
10000~10000    0.000103
dtype: float64

#### Most songs are played less than 100 times, thus we could set songs played more than 1000 times as popular songs, top 0.25%.

In [27]:
# Popular songs:
songs_id_popular = set(number_of_times_played_dist\
                    [number_of_times_played_dist['group'].isin(['1000~10000','10000~10000'])]\
                    .song_id_new)

In [28]:
len(songs_id_popular)

2295

In [29]:
df_play['song_popular'] = df_play.song_id_new.isin(songs_id_popular)
df_play.head()

,uid,device,song_type,play_time,song_length,label,date,song_id_new,singer_popularity_rank,song_popular
0,168308107,ar,0,296,296,0,20170410,816,183,True
1,168112765,ar,0,272,0,0,20170410,13121,35,False
2,168274411,ar,0,24,156,0,20170410,140473,25366,False
3,168274411,ar,0,333,334,0,20170410,1171,431,True
4,168274411,ar,0,155,156,0,20170410,140473,25366,False

In [30]:
# Make a new dataframe with each uid summarized behavior as one column
df = pd.DataFrame(columns= ['uid'])

In [31]:
df.uid = df_play.groupby(['uid']).size().index

In [32]:
df.head()

          uid
0   100052111
1   100107633
2   100223381
3   100581940
4  100733657

In [33]:
df_song_popular = df_play[['uid','song_popular']].groupby('uid').mean().reset_index()

In [34]:
df_song_popular.head()

          uid  song_popular
0   100052111      0.107143
1   100107633      0.500000
2   100223381      0.000000
3   100581940      0.800000
4  100733657       0.434783

In [35]:
df = df.merge(df_song_popular, left_on = 'uid', right_on = 'uid', how = 'inner')
df.head()

          uid  song_popular
0   100052111      0.107143
1   100107633      0.500000
2   100223381      0.000000
3   100581940      0.800000
4  100733657       0.434783

In [36]:
#majority vote of device
df_device = df_play[['uid', 'device']].groupby('uid')['device'].apply(lambda x: x.value_counts().index[0])
df_device.head()

uid
100052111     ar
100107633     ar
100223381     ar
100581940     ar
100733657     ar
Name: device, dtype: object

In [37]:
df_device = df_device.reset_index()

In [38]:
df_device.head()

          uid device
0   100052111     ar
1   100107633     ar
2   100223381     ar
3   100581940     ar
4  100733657      ar

In [39]:
df_device.device.value_counts()

ar    131106
ip     19743
dtype: int64

In [40]:
# majority vote of song_type
df_song_type = df_play[['uid', 'song_type']].groupby('uid')['song_type']\
                .apply(lambda x: x.value_counts().index[0]).reset_index()
df_song_type.head()

          uid song_type
0   100052111         0
1   100107633         0
2   100223381         0
3   100581940         0
4  100733657          0

In [41]:
df_song_type.song_type.value_counts()

0    138272
1     11047
2      1492
3        38
dtype: int64

In [42]:
# Merge device into df
df = df.merge(df_device, left_on = 'uid', right_on = 'uid', how = 'inner')
df.head()

          uid  song_popular device
0   100052111      0.107143     ar
1   100107633      0.500000     ar
2   100223381      0.000000     ar
3   100581940      0.800000     ar
4  100733657       0.434783     ar

In [43]:
# Merge song_type into df
df = df.merge(df_song_type, left_on = 'uid', right_on = 'uid', how = 'inner')
df.head()

          uid  song_popular device song_type
0   100052111      0.107143     ar         0
1   100107633      0.500000     ar         0
2   100223381      0.000000     ar         0
3   100581940      0.800000     ar         0
4  100733657       0.434783     ar         0

In [44]:
df = df.rename(columns={'song_type' : 'major_song_type'})

In [45]:
df_song_popularity = df_play[['uid','song_popular']].groupby('uid')\
                    .mean().rename(columns = {'song_popular' : 'song_popularity_ratio'})

In [46]:
df_song_popularity = df_song_popularity.reset_index()
df_song_popularity.head()

          uid  song_popularity_ratio
0   100052111               0.107143
1   100107633               0.500000
2   100223381               0.000000
3   100581940               0.800000
4  100733657                0.434783

In [47]:
# Merge song_popularity_ratio into df
df = df.merge(df_song_popularity, left_on = 'uid', right_on = 'uid', how = 'inner')
df.head()

          uid  song_popular device major_song_type  song_popularity_ratio
0   100052111      0.107143     ar               0               0.107143
1   100107633      0.500000     ar               0               0.500000
2   100223381      0.000000     ar               0               0.000000
3   100581940      0.800000     ar               0               0.800000
4  100733657       0.434783     ar               0               0.434783

In [48]:
# Total Play_time
df_total_play_time = df_play[['uid','play_time']].groupby('uid').sum()/60# change time unit to minutes

In [49]:
df_total_play_time = df_total_play_time.rename(columns = {'play_time':'total_play_time'}).reset_index()

In [50]:
df_total_play_time.head()

          uid  total_play_time
0   100052111         0.000000
1   100107633         3.033333
2   100223381        33.333333
3   100581940        17.200000
4  100733657        374.766667

In [51]:
sum(df_total_play_time.total_play_time>100000)

1254

In [52]:
df = df.merge(df_total_play_time, left_on = 'uid', right_on = 'uid', how = 'inner')
df.head()

,uid,song_popular,device,major_song_type,song_popularity_ratio,total_play_time
0,100052111,0.107143,ar,0,0.107143,0.000000
1,100107633,0.500000,ar,0,0.500000,3.033333
2,100223381,0.000000,ar,0,0.000000,33.333333
3,100581940,0.800000,ar,0,0.800000,17.200000
4,100733657,0.434783,ar,0,0.434783,374.766667

In [53]:

df_play[['label']] = df_play[['label']].astype('int')
df_label = df_play[['uid','label']].groupby('uid').mean().reset_index()
df_label.head()

          uid  label
0   100052111      1
1   100107633      1
2   100223381      1
3   100581940      1
4  100733657       1

In [54]:
# Merge label into df
df = df.merge(df_label, left_on = 'uid', right_on= 'uid', how = 'inner')
df.head()

,uid,song_popular,device,major_song_type,song_popularity_ratio,total_play_time,label
0,100052111,0.107143,ar,0,0.107143,0.000000,1
1,100107633,0.500000,ar,0,0.500000,3.033333,1
2,100223381,0.000000,ar,0,0.000000,33.333333,1
3,100581940,0.800000,ar,0,0.800000,17.200000,1
4,100733657,0.434783,ar,0,0.434783,374.766667,1

In [55]:
# Total play_time
# Create bins for total_play_time
bins = [-1,100,200,300,400,500,600,700,800,900,1000,2000,3000,4000,5000,6000,7000,8000,9000,10000,float('inf')]
bin_names = ['0-100','100-200','200-300','300-400','400-500','500-600','600-700','700-800','800-900','900-1k',\
             '1k-2k','2k-3k','3k-4k','4k-5k','5k-6k','6k-7k','7k-8k','8k-9k','9k-10k','10k+']
df['play_time_label'] = pd.cut(df.total_play_time,bins, labels = bin_names)
df.play_time_label.value_counts()

0-100      89283
100-200    17637
200-300     8952
1k-2k       6196
300-400     6006
400-500     4401
500-600     3230
10k+        3112
600-700     2715
700-800     2160
2k-3k       1910
800-900     1728
900-1k      1393
3k-4k        832
4k-5k        444
5k-6k        276
6k-7k        176
7k-8k        142
8k-9k        112
9k-10k        89
dtype: int64

In [56]:
df.head()

,uid,song_popular,device,major_song_type,song_popularity_ratio,total_play_time,label,play_time_label
0,100052111,0.107143,ar,0,0.107143,0.000000,1,0-100
1,100107633,0.500000,ar,0,0.500000,3.033333,1,0-100
2,100223381,0.000000,ar,0,0.000000,33.333333,1,0-100
3,100581940,0.800000,ar,0,0.800000,17.200000,1,0-100
4,100733657,0.434783,ar,0,0.434783,374.766667,1,300-400

In [57]:
df[['play_time_label', 'label']].groupby('play_time_label').mean()

                    label
play_time_label
0-100            0.824155
100-200          0.635141
200-300          0.548481
300-400          0.505994
400-500          0.476028
500-600          0.424768
600-700          0.368324
700-800          0.368519
800-900          0.354167
900-1k           0.290739
1k-2k            0.274209
2k-3k            0.250785
3k-4k            0.252404
4k-5k            0.288288
5k-6k            0.373188
6k-7k            0.380682
7k-8k            0.338028
8k-9k            0.544643
9k-10k           0.584270
10k+             0.813946

#### There is definately dependence between churn rate and total_play_time. <br> And the churn rate is similar for total_play_time = (100, 400], (400, 700], (700, 1k], (1k, 7k], (7k, 10k], (10k+]

In [58]:
df = df.drop(['play_time_label'], axis = 1)

In [59]:
# Reduce number of total_play_time bins. 
bins = [-1,100,400,700,1000,7000,10000,float('inf')]
bin_names = ['0-100','100-400','400-700','700-1k','1k-7k','7k-10k','10k+']
df['play_time_label'] = pd.cut(df.total_play_time,bins, labels = bin_names)
df.play_time_label.value_counts()

0-100      89283
100-400    32595
400-700    10346
1k-7k       9834
700-1k      5281
10k+        3112
7k-10k       343
dtype: int64

In [60]:
df.head()

,uid,song_popular,device,major_song_type,song_popularity_ratio,total_play_time,label,play_time_label
0,100052111,0.107143,ar,0,0.107143,0.000000,1,0-100
1,100107633,0.500000,ar,0,0.500000,3.033333,1,0-100
2,100223381,0.000000,ar,0,0.000000,33.333333,1,0-100
3,100581940,0.800000,ar,0,0.800000,17.200000,1,0-100
4,100733657,0.434783,ar,0,0.434783,374.766667,1,100-400

In [61]:
df[['play_time_label', 'label']].groupby('play_time_label').mean()

                    label
play_time_label
0-100            0.824155
100-400          0.587543
400-700          0.431761
700-1k           0.343306
1k-7k            0.273134
7k-10k           0.469388
10k+             0.813946

In [62]:
# Average play_time
df_avg_play_time = df_play[['uid', 'play_time']].\
                    groupby('uid').mean().rename(columns = {'play_time' : 'avg_play_time'}).reset_index()

In [63]:
df_avg_play_time.head()

          uid  avg_play_time
0   100052111       0.000000
1   100107633      45.500000
2   100223381     125.000000
3   100581940      51.600000
4  100733657      195.530435

In [64]:
# Merge avg_play_time into df
df = df.merge(df_avg_play_time, left_on = 'uid', right_on = 'uid', how = 'inner')

In [65]:
df.head()

,uid,song_popular,device,major_song_type,song_popularity_ratio,total_play_time,label,play_time_label,avg_play_time
0,100052111,0.107143,ar,0,0.107143,0.000000,1,0-100,0.000000
1,100107633,0.500000,ar,0,0.500000,3.033333,1,0-100,45.500000
2,100223381,0.000000,ar,0,0.000000,33.333333,1,0-100,125.000000
3,100581940,0.800000,ar,0,0.800000,17.200000,1,0-100,51.600000
4,100733657,0.434783,ar,0,0.434783,374.766667,1,100-400,195.530435

In [66]:
# Create a set for the rarely played songs, which are played once in the entire dataframe
num_song_least_pop = sum(df_play.groupby('song_id_new').size()<=1)
num_song_least_pop

266344

In [67]:
least_popular_songs = df_play['song_id_new'].value_counts()[-1:-num_song_least_pop-1:-1].index

In [68]:
# Create a new column in original df_play to indicate whether the played song is in the least popular set.
df_play['least_popular'] = df_play.song_id_new.isin(set(least_popular_songs))

In [69]:
# For each uid, count the number of times played the least popular song
df_least_pop_counts = df_play[['uid', 'least_popular']].groupby('uid').\
                        sum().rename(columns = {'least_popular' : 'least_pop_count'}).reset_index()

In [70]:
df_least_pop_counts.head()

          uid  least_pop_count
0   100052111                0
1   100107633                0
2   100223381                6
3   100581940                1
4  100733657                 0

In [71]:
# Merge the least_pop_count into df
df = df.merge(df_least_pop_counts, left_on = 'uid', right_on = 'uid', how = 'inner')

In [72]:
df.head()

,uid,song_popular,device,major_song_type,song_popularity_ratio,total_play_time,label,play_time_label,avg_play_time,least_pop_count
0,100052111,0.107143,ar,0,0.107143,0.000000,1,0-100,0.000000,0
1,100107633,0.500000,ar,0,0.500000,3.033333,1,0-100,45.500000,0
2,100223381,0.000000,ar,0,0.000000,33.333333,1,0-100,125.000000,6
3,100581940,0.800000,ar,0,0.800000,17.200000,1,0-100,51.600000,1
4,100733657,0.434783,ar,0,0.434783,374.766667,1,100-400,195.530435,0

In [73]:
df.least_pop_count.value_counts()

0     106520
1      15651
2       7710
3       4699
4       3063
5       2206
6       1579
7       1266
8       1011
9        842
10       684
11       602
12       535
13       387
14       346
...
143    1
150    1
151    1
157    1
159    1
161    1
162    1
163    1
164    1
166    1
168    1
171    1
172    1
178    1
824    1
Length: 198, dtype: int64

In [74]:
# Add a column in df to show the total play count
df['total_play_count'] = list(df_play.groupby('uid').size())

In [75]:
df.head()

,uid,song_popular,device,major_song_type,song_popularity_ratio,total_play_time,label,play_time_label,avg_play_time,least_pop_count,total_play_count
0,100052111,0.107143,ar,0,0.107143,0.000000,1,0-100,0.000000,0,112
1,100107633,0.500000,ar,0,0.500000,3.033333,1,0-100,45.500000,0,4
2,100223381,0.000000,ar,0,0.000000,33.333333,1,0-100,125.000000,6,16
3,100581940,0.800000,ar,0,0.800000,17.200000,1,0-100,51.600000,1,20
4,100733657,0.434783,ar,0,0.434783,374.766667,1,100-400,195.530435,0,115

In [76]:
df['least_popular_ratio'] = df.apply(lambda x: x.least_pop_count/x.total_play_count, axis = 1)
df.head()

,uid,song_popular,device,major_song_type,song_popularity_ratio,total_play_time,label,play_time_label,avg_play_time,least_pop_count,total_play_count,least_popular_ratio
0,100052111,0.107143,ar,0,0.107143,0.000000,1,0-100,0.000000,0,112,0.000
1,100107633,0.500000,ar,0,0.500000,3.033333,1,0-100,45.500000,0,4,0.000
2,100223381,0.000000,ar,0,0.000000,33.333333,1,0-100,125.000000,6,16,0.375
3,100581940,0.800000,ar,0,0.800000,17.200000,1,0-100,51.600000,1,20,0.050
4,100733657,0.434783,ar,0,0.434783,374.766667,1,100-400,195.530435,0,115,0.000

In [91]:
## save the least popular ratio file to pickle

import pickle

f = open('/Users/ZhijingYe/Desktop/data/output/least_popular_ratio.pckl', 'wb')
pickle.dump(df.least_pop_count/df.total_play_count, f)
f.close()

In [92]:
f = open('/Users/ZhijingYe/Desktop/data/output/least_popular_ratio.pckl', 'rb')
obj = pickle.load(f)
f.close()

In [93]:
df.least_popular_ratio_1 = obj.copy()

In [94]:
set(df.least_popular_ratio_1).intersection(df.least_popular_ratio)

{0.0,
 0.375,
 0.0056603773584905656,
 0.5,
 1.0,
 0.02004008016032064,
 0.42692307692307691,
 0.017301038062283738,
 0.0020449897750511249,
 0.625,
 0.14772727272727273,
 0.056603773584905662,
 0.1888111888111888,
 0.0038002171552660152,
 0.31192660550458717,
 0.00096061479346781938,
 0.052287581699346407,
 0.041580041580041582,
 0.0050100200400801601,
 0.12477064220183487,
 0.047888386123680245,
 0.0466786355475763,
 0.093126385809312637,
 0.0022354694485842027,
 0.031446540880503145,
 0.018252933507170794,
 0.013698630136986301,
 0.029919447640966629,
 0.0072022160664819944,
 0.0174496644295302,
 0.00911854103343465,
 0.14583333333333334,
 0.0029806259314456036,
 0.087209302325581398,
 0.00031625553447185326,
 0.0033745781777277839,
 0.044144144144144144,
 0.13238289205702647,
 0.036939313984168866,
 0.01511879049676026,
 0.098591549295774641,
 0.00054318305268875606,
 0.079051383399209488,
 0.21495327102803738,
 0.00057636887608069167,
 0.0052137643378519288,
 0.068062827225130892,
 0.33410138248847926,
 0.0004743833017077799,
 0.0012853470437017994,
 0.34868421052631576,
 0.23880597014925373,
 0.11691542288557213,
 0.01441899915182358,
 0.0039408866995073889,
 0.022026431718061675,
 0.0012180267965895249,
 0.004140786749482402,
 0.3888888888888889,
 0.006688963210702341,
 0.027837259100642397,
 0.079646017699115043,
 0.022857142857142857,
 0.00084961767204757861,
 0.0091027308192457735,
 0.19245283018867926,
 0.024853801169590642,
 0.0019212295869356388,
 0.0014641288433382138,
 0.070110701107011064,
 0.048622366288492709,
 0.021176470588235293,
 0.13848631239935588,
 0.0060901339829476245,
 0.032075471698113207,
 0.20860927152317882,
 0.057939914163090127,
 0.067092651757188496,
 0.003041825095057034,
 0.00059594755661501785,
 0.11244979919678715,
 0.21052631578947367,
 0.030054644808743168,
 0.15309446254071662,
 0.0065146579804560263,
 0.023890784982935155,
 0.22916666666666666,
 0.0027285129604365621,
 0.019920318725099601,
 0.0014471780028943559,
 0.0026572187776793621,
 0.044293015332197615,
 0.14754098360655737,
 0.027972027972027972,
 0.056164383561643834,
 0.0010822510822510823,
 0.0059435364041604752,
 0.014749262536873156,
 0.021164021164021163,
 0.00060642813826561554,
 0.19889502762430938,
 0.012644889357218124,
 0.043589743589743588,
 0.069518716577540107,
 0.033568904593639579,
 0.18122977346278318,
 0.40799999999999997,
 0.29681978798586572,
 0.033684210526315789,
 0.001483679525222552,
 0.0015424164524421595,
 0.0050205385668644457,
 0.24175824175824176,
 0.0014035087719298245,
 0.066455696202531639,
 0.051625239005736137,
 0.046052631578947366,
 0.20772946859903382,
 0.0016295491580662683,
 0.019444444444444445,
 0.010135135135135136,
 0.027199999999999998,
 0.0021505376344086021,
 0.064935064935064929,
 0.17355371900826447,
 0.0073800738007380072,
 0.011299435028248588,
 0.029787234042553193,
 0.058309037900874633,
 0.11864406779661017,
 0.054945054945054944,
 0.02748414376321353,
 0.1388888888888889,
 0.044198895027624308,
 0.0034554250172771253,
 0.0859375,
 0.28971962616822428,
 0.068000000000000005,
 0.00091324200913242006,
 0.0066115702479338841,
 0.10077519379844961,
 0.097142857142857142,
 0.089041095890410954,
 0.24752475247524752,
 0.013297872340425532,
 0.0090293453724604959,
 0.0084190832553788595,
 0.050724637681159424,
 0.002997002997002997,
 0.025974025974025976,
 0.01092896174863388,
 0.0033898305084745762,
 0.029141104294478526,
 0.10104529616724739,
 0.0020181634712411706,
 0.0071556350626118068,
 0.074626865671641784,
 0.010940919037199124,
 0.076677316293929709,
 0.0017406440382941688,
 0.0023554043444124575,
 0.31353135313531355,
 0.35135135135135137,
 0.027692307692307693,
 0.037593984962406013,
 0.081784386617100371,
 0.081600000000000006,
 0.024263431542461005,
 0.041198501872659173,
 0.83673469387755106,
 0.016933207902163686,
 0.24285714285714285,
 0.0063391442155309036,
 0.021556886227544911,
 0.019067796610169493,
 0.021541407371948301,
 0.23577235772357724,
 0.023622047244094488,
 0.010226442658875092,
 0.0021798365122615805,
 0.00821917808219178,
 0.071770334928229665,
 0.042801556420233464,
 0.0093333333333333341,
 0.017456359102244388,
 0.16521739130434782,
 0.0013315579227696406,
 0.067164179104477612,
 0.013924050632911392,
 0.12307692307692308,
 0.017902813299232736,
 0.0098792535675082324,
 0.002012072434607646,
 0.1111111111111111,
 0.0045045045045045045,
 0.072727272727272724,
 0.049382716049382713,
 0.036458333333333336,
 0.052083333333333336,
 0.0095969289827255271,
 0.018604651162790697,
 0.0071684587813620072,
 0.17452830188679244,
 0.018828451882845189,
 0.0053691275167785232,
 0.0053475935828877002,
 0.0027247956403269754,
 0.038843721770551037,
 0.22077922077922077,
 0.08088818398096749,
 0.016209476309226933,
 0.0028943560057887118,
 0.028475711892797319,
 0.0072551390568319227,
 0.0042735042735042739,
 0.0084175084175084174,
 0.002304147465437788,
 0.0082742316784869974,
 0.027027027027027029,
 0.0070175438596491229,
 0.030701754385964911,
 0.009497964721845319,
 0.32183908045977011,
 0.0013568521031207597,
 0.033426183844011144,
 0.014527845036319613,
 0.15503875968992248,
 0.062893081761006289,
 0.023121387283236993,
 0.00068259385665529011,
 0.021021021021021023,
 0.022875816993464051,
 0.0022650056625141564,
 0.3108108108108108,
 0.034732272069464547,
 0.094435075885328831,
 0.084183673469387751,
 0.20967741935483872,
 0.0066518847006651885,
 0.019950124688279301,
 0.09569377990430622,
 0.0019206145966709346,
 0.041984732824427481,
 0.065906210392902412,
 0.0072689511941848393,
 0.023593466424682397,
 0.013133208255159476,
 0.078767123287671229,
 0.017632241813602016,
 0.011396011396011397,
 0.19736842105263158,
 0.012931034482758621,
 0.04142011834319527,
 0.06726457399103139,
 0.01090909090909091,
 0.066433566433566432,
 0.0051282051282051282,
 0.046798029556650245,
 0.025806451612903226,
 0.013850415512465374,
 0.021113243761996161,
 0.0061619718309859151,
 0.04060913705583756,
 0.0022222222222222222,
 0.072916666666666671,
 0.036290322580645164,
 0.33680555555555558,
 0.016427104722792608,
 0.015637216575449569,
 0.36507936507936506,
 0.080000000000000002,
 0.0021413276231263384,
 0.1744186046511628,
 0.0036036036036036037,
 0.0075853350189633373,
 0.0078308535630383716,
 0.21249999999999999,
 0.0067796610169491523,
 0.026595744680851064,
 0.08666666666666667,
 0.011428571428571429,
 0.065817409766454352,
 0.047048759623609923,
 0.0011806375442739079,
 0.011956001912960305,
 0.10764872521246459,
 0.097402597402597407,
 0.0011918951132300357,
 0.010752688172043012,
 0.0072358900144717797,
 0.0451505016722408,
 0.013235294117647059,
 0.059859154929577461,
 0.0091575091575091579,
 0.0071225071225071226,
 0.042857142857142858,
 0.21186440677966101,
 0.00095877277085330771,
 0.025040387722132473,
 0.0066603235014272124,
 0.021656050955414011,
 0.089225589225589222,
 0.04963855421686747,
 0.0085836909871244635,
 0.08461538461538462,
 0.018092105263157895,
 0.0055865921787709499,
 0.34230769230769231,
 0.017015706806282723,
 0.061696658097686374,
 0.47727272727272729,
 0.0081632653061224497,
 0.0020964360587002098,
 0.083194675540765387,
 0.0063091482649842269,
 0.011210762331838564,
 0.1099236641221374,
 0.035019455252918288,
 0.049019607843137254,
 0.03888888888888889,
 0.024725274725274724,
 0.0049342105263157892,
 0.0018975332068311196,
 0.0057581573896353169,
 0.27642276422764228,
 0.010380622837370242,
 0.0009813542688910696,
 0.0028763183125599234,
 0.035874439461883408,
 0.052369077306733167,
 0.10303030303030303,
 0.00066979236436704619,
 0.0015432098765432098,
 0.0014492753623188406,
 0.0050441361916771753,
 0.015470051566838556,
 0.032967032967032968,
 0.057595392368610512,
 0.00094966761633428305,
 0.046831955922865015,
 0.0043923865300146414,
 0.065400843881856546,
 0.35014836795252224,
 0.22324510932105868,
 0.00087912087912087912,
 0.20942408376963351,
 0.01738672286617492,
 0.0038491147036181679,
 0.03313253012048193,
 0.0012315270935960591,
 0.33774834437086093,
 0.051948051948051951,
 0.02185792349726776,
 0.054711246200607903,
 0.012468827930174564,
 0.022880215343203229,
 0.00290838584585555,
 0.54716981132075471,
 0.00051124744376278123,
 0.024390243902439025,
 0.01968503937007874,
 0.021874999999999999,
 0.027426160337552744,
 0.00097465886939571145,
 0.030423280423280422,
 0.14925373134328357,
 0.005005005005005005,
 0.0019193857965451055,
 0.003740648379052369,
 0.041379310344827586,
 0.0085015940488841653,
 0.011152416356877323,
 0.00049309664694280081,
 0.203125,
 0.0078125,
 0.038338658146964855,
 0.0019175455417066154,
 0.0020314880650076179,
 0.014760147601476014,
 0.02827521206409048,
 0.011013215859030838,
 0.0014174344436569809,
 0.010764262648008612,
 0.0024360535931790498,
 0.069466882067851371,
 0.0032773453502662844,
 0.016055045871559634,
 0.047244094488188976,
 0.079577464788732399,
 0.014347202295552367,
 0.0010615711252653928,
 0.059500959692898273,
 0.0023446658851113715,
 0.001693480101608806,
 0.30208333333333331,
 0.11006289308176101,
 0.02958904109589041,
 0.15929203539823009,
 0.044334975369458129,
 0.017985611510791366,
 0.02336448598130841,
 0.070588235294117646,
 0.03553299492385787,
 0.042145593869731802,
 0.1799163179916318,
 0.055796652200867949,
 0.001455604075691412,
 0.22222222222222221,
 0.021699819168173599,
 0.10277777777777777,
 0.0057937427578215531,
 0.042510121457489877,
 0.028776978417266189,
 0.0019305019305019305,
 0.030362389813907934,
 0.11979166666666667,
 0.00084817642069550466,
 0.082125603864734303,
 0.028469750889679714,
 0.0040214477211796247,
 0.014395393474088292,
 0.025951557093425604,
 0.017892644135188866,
 0.47126436781609193,
 0.072625698324022353,
 0.0024968789013732834,
 0.020044543429844099,
 0.0088105726872246704,
 0.0022883295194508009,
 0.015837104072398189,
 0.013568521031207599,
 0.024968789013732832,
 0.004608294930875576,
 0.0047619047619047623,
 0.0096818810511756573,
 0.022058823529411766,
 0.054526748971193417,
 0.15923566878980891,
 0.39830508474576271,
 0.0040691759918616479,
 0.064327485380116955,
 0.08069164265129683,
 0.054794520547945202,
 0.017287234042553192,
 0.092140921409214094,
 0.0030674846625766872,
 0.30847457627118646,
 0.1793103448275862,
 0.10365853658536585,
 0.033033033033033031,
 0.08829174664107485,
 0.0032017075773745998,
 0.021406727828746176,
 0.015533980582524271,
 0.0031446540880503146,
 0.015558698727015558,
 0.14492753623188406,
 0.021447721179624665,
 0.061919504643962849,
 0.033582089552238806,
 0.034591194968553458,
 0.030100334448160536,
 0.0014925373134328358,
 0.021359223300970873,
 0.042203985932004688,
 0.088495575221238937,
 0.02181818181818182,
 0.019077901430842606,
 0.052469135802469133,
 0.043037974683544304,
 0.051612903225806452,
 0.22941176470588234,
 0.024242424242424242,
 0.0060514372163388806,
 0.081218274111675121,
 0.0044943820224719105,
 0.0022909507445589921,
 0.016949152542372881,
 0.30320699708454812,
 0.16292134831460675,
 0.095115681233933158,
 0.016563146997929608,
 0.033210332103321034,
 0.43925233644859812,
 0.21379310344827587,
 0.009433962264150943,
 0.17241379310344829,
 0.16,
 0.0042826552462526769,
 0.30645161290322581,
 0.0095238095238095247,
 0.0072815533980582527,
 0.019886363636363636,
 0.0072072072072072073,
 0.0041710114702815434,
 0.07990314769975787,
 0.24358974358974358,
 0.29999999999999999,
 0.097777777777777783,
 0.068783068783068779,
 0.0031695721077654518,
 0.01283987915407855,
 0.17898832684824903,
 0.38095238095238093,
 0.010401188707280832,
 0.031141868512110725,
 0.021505376344086023,
 0.0088235294117647058,
 0.063613231552162849,
 0.050228310502283102,
 0.26829268292682928,
 0.089999999999999997,
 0.0036563071297989031,
 0.011441647597254004,
 0.0016620498614958448,
 0.026923076923076925,
 0.0013280212483399733,
 0.12258064516129032,
 0.023300970873786409,
 0.028968713789107765,
 0.013027295285359801,
 0.0076726342710997444,
 0.14859437751004015,
 0.016064257028112448,
 0.0063291139240506328,
 0.058156028368794327,
 0.028146989835809225,
 0.051391862955032119,
 0.034682080924855488,
 0.17948717948717949,
 0.00055524708495280405,
 0.0027688047992616522,
 0.017421602787456445,
 0.12921348314606743,
 0.31759656652360513,
 0.02491103202846975,
 0.0053660406285933309,
 0.0038684719535783366,
 0.18421052631578946,
 0.0085034013605442185,
 0.013986013986013986,
 0.040268456375838924,
 0.30882352941176472,
 0.075630252100840331,
 0.010452961672473868,
 0.054613935969868174,
 0.0094240837696335077,
 0.006018054162487462,
 0.057142857142857141,
 0.029520295202952029,
 0.12033195020746888,
 0.009943181818181818,
 0.0028985507246376812,
 0.010088272383354351,
 0.027941176470588237,
 0.065934065934065936,
 0.0059642147117296221,
 0.072052401746724892,
 0.044642857142857144,
 0.069892473118279563,
 0.017500000000000002,
 0.0024630541871921183,
 0.014059753954305799,
 0.049250535331905779,
 0.12380952380952381,
 0.29729729729729731,
 0.0066225165562913907,
 0.019064124783362217,
 0.039840637450199202,
 0.046610169491525424,
 0.022636484687083888,
 0.008321775312066574,
 0.023980815347721823,
 0.04878048780487805,
 0.043749999999999997,
 0.0046728971962616819,
 0.017316017316017316,
 0.0010416666666666667,
 0.16460905349794239,
 0.0054200542005420054,
 0.050420168067226892,
 0.023354564755838639,
 0.10970464135021098,
 0.022377622377622378,
 0.65217391304347827,
 0.022304832713754646,
 0.013377926421404682,
 0.077192982456140355,
 0.058464223385689351,
 0.1984126984126984,
 0.015936254980079681,
 0.4838709677419355,
 0.1078838174273859,
 0.048484848484848485,
 0.076271186440677971,
 0.0012738853503184713,
 0.0012578616352201257,
 0.027195027195027196,
 0.01340033500837521,
 0.01028101439342015,
 0.0055658627087198514,
 0.0024449877750611247,
 0.015492957746478873,
 0.049423393739703461,
 0.084048027444253853,
 0.034623217922606926,
 0.014691478942213516,
 0.0025412960609911056,
 0.14465408805031446,
 0.069767441860465115,
 0.0079016681299385431,
 0.086606243705941596,
 0.0030395136778115501,
 0.10452961672473868,
 0.0087609511889862324,
 0.0080256821829855531,
 0.44444444444444442,
 0.019487179487179488,
 0.020654044750430294,
 0.00076335877862595419,
 0.11206896551724138,
 0.17708333333333334,
 0.12318840579710146,
 0.46875,
 0.0150093808630394,
 0.076458752515090544,
 0.076335877862595422,
 0.10928961748633879,
 0.020676691729323307,
 0.26056338028169013,
 0.045977011494252873,
 0.016129032258064516,
 0.068085106382978725,
 0.058997050147492625,
 0.0076628352490421452,
 0.053833605220228384,
 0.45283018867924529,
 0.017621145374449341,
 0.06647116324535679,
 0.071661237785016291,
 0.088154269972451793,
 0.0085470085470085479,
 0.10896309314586995,
 0.0010438413361169101,
 0.084444444444444447,
 0.0016920473773265651,
 0.013303769401330377,
 0.0058528428093645481,
 0.010144927536231883,
 0.09880239520958084,
 0.1095890410958904,
 0.40909090909090912,
 0.0061349693251533744,
 0.0085261875761266752,
 0.053475935828877004,
 0.0019588638589618022,
 0.011001100110011002,
 0.011326860841423949,
 0.00067024128686327079,
 0.19623233908948196,
 0.096491228070175433,
 0.46031746031746029,
 0.0012437810945273632,
 0.13207547169811321,
 0.023060796645702306,
 0.21236559139784947,
 0.084112149532710276,
 0.00096339113680154141,
 0.0049833887043189366,
 0.069182389937106917,
 0.013745704467353952,
 0.023872679045092837,
 0.010845986984815618,
 0.040145985401459854,
 0.088145896656534953,
 0.11353711790393013,
 0.070945945945945943,
 0.051724137931034482,
 0.47499999999999998,
 0.022364217252396165,
 0.037333333333333336,
 0.020512820512820513,
 0.1032258064516129,
 0.035820895522388062,
 0.016842105263157894,
 0.16243654822335024,
 0.017921146953405017,
 0.033898305084745763,
 0.031287605294825514,
 0.0011261261261261261,
 0.061643835616438353,
 0.0013123359580052493,
 0.018867924528301886,
 0.32000000000000001,
 0.064625850340136057,
 0.23655913978494625,
 0.00088888888888888893,
 0.019047619047619049,
 0.009125475285171103,
 0.039772727272727272,
 0.014414414414414415,
 0.0017584994138335288,
 0.074468085106382975,
 0.0013947001394700139,
 0.079207920792079209,
 0.59999999999999998,
 0.18965517241379309,
 0.10638297872340426,
 0.0990990990990991,
 0.045714285714285714,
 0.016339869281045753,
 0.01680672268907563,
 0.090090090090090086,
 0.0049586776859504135,
 0.17525773195876287,
 0.82608695652173914,
 0.043010752688172046,
 0.052941176470588235,
 0.0082781456953642391,
 0.003616636528028933,
 0.061363636363636363,
 0.11286681715575621,
 0.20183486238532111,
 0.049056603773584909,
 0.050000000000000003,
 0.0046656298600311046,
 0.055357142857142855,
 0.04072398190045249,
 0.04954954954954955,
 0.008658008658008658,
 0.0031520882584712374,
 0.066176470588235295,
 0.017112299465240642,
 0.012224938875305624,
 0.34920634920634919,
 0.04048582995951417,
 0.011560693641618497,
 0.0096463022508038593,
 0.0033277870216306157,
 0.0010493179433368311,
 0.059405940594059403,
 0.32203389830508472,
 0.029556650246305417,
 0.10889292196007259,
 0.061032863849765258,
 0.089576547231270356,
 0.0011148272017837235,
 0.039426523297491037,
 0.081081081081081086,
 0.0012515644555694619,
 0.019548872180451128,
 0.03954802259887006,
 0.0025740025740025739,
 0.016574585635359115,
 0.030065359477124184,
 0.006313131313131313,
 0.0043988269794721412,
 0.17592592592592593,
 0.025073746312684365,
 0.24242424242424243,
 0.0061728395061728392,
 0.14499999999999999,
 0.016233766233766232,
 0.0057971014492753624,
 0.13186813186813187,
 0.0064882400648824008,
 0.0063613231552162846,
 0.056689342403628121,
 0.0046598322460391422,
 0.088737201365187715,
 0.13802816901408452,
 0.031034482758620689,
 0.089285714285714288,
 0.0037243947858472998,
 0.065637065637065631,
 0.18143459915611815,
 0.0049261083743842365,
 0.004231770833333333,
 0.045056320400500623,
 0.0048875855327468231,
 0.054966248794599805,
 0.087096774193548387,
 0.016513761467889909,
 0.0013458950201884253,
 0.097560975609756101,
 0.087499999999999994,
 0.0038986354775828458,
 0.012865497076023392,
 0.017283950617283949,
 0.26851851851851855,
 0.0020833333333333333,
 0.34883720930232559,
 0.010840108401084011,
 0.10084033613445378,
 0.053719008264462811,
 0.041055718475073312,
 0.01834862385321101,
 0.15217391304347827,
 0.00076394194041252863,
 0.0044444444444444444,
 0.032894736842105261,
 0.63114754098360659,
 0.087378640776699032,
 0.1048951048951049,
 0.12060301507537688,
 0.0033482142857142855,
 0.35483870967741937,
 0.17105263157894737,
 0.022494887525562373,
 0.16455696202531644,
 0.035460992907801421,
 0.031872509960159362,
 0.011666666666666667,
 0.091407678244972576,
 0.068449197860962568,
 0.0014792899408284023,
 0.09696969696969697,
 0.062407132243684993,
 0.15254237288135594,
 0.0072886297376093291,
 0.0043227665706051877,
 0.1889763779527559,
 0.05204460966542751,
 0.004246284501061571,
 0.023346303501945526,
 0.014830508474576272,
 0.02766798418972332,
 0.15107913669064749,
 0.025099075297225892,
 0.011695906432748537,
 0.00083682008368200832,
 0.0057692307692307696,
 0.080260303687635579,
 0.0060790273556231003,
 0.0079681274900398405,
 0.023557126030624265,
 0.03292894280762565,
 0.25,
 0.036036036036036036,
 0.0021261516654854712,
 0.0015267175572519084,
 0.021235521235521235,
 0.41666666666666669,
 0.093333333333333338,
 0.17940199335548174,
 0.003105590062111801,
 0.085427135678391955,
 0.0039138943248532287,
 0.028947368421052631,
 0.041353383458646614,
 0.0026246719160104987,
 0.0059665871121718375,
 0.035242290748898682,
 0.048598130841121495,
 0.067039106145251395,
 0.00038387715930902113,
 0.036666666666666667,
 0.043046357615894038,
 0.031830238726790451,
 0.019277108433734941,
 0.017094017094017096,
 0.094117647058823528,
 0.24561403508771928,
 0.015337423312883436,
 0.0057251908396946565,
 0.0071599045346062056,
 0.038297872340425532,
 0.24444444444444444,
 0.0050505050505050509,
 0.020134228187919462,
 0.027624309392265192,
 0.59890109890109888,
 0.13017751479289941,
 0.0073170731707317077,
 0.5625,
 0.08834586466165413,

In [98]:
len(df.least_popular_ratio == df.least_popular_ratio_1)

150849

In [95]:
print(df.least_popular_ratio_1)

0     0.000000
1     0.000000
2     0.375000
3     0.050000
4     0.000000
5     0.400000
6     0.000000
7     0.210526
8     0.085366
9     0.000000
10    0.000000
11    0.000000
12    0.014706
13    0.000000
14    0.000000
...
150834    0.000000
150835    0.005354
150836    0.300000
150837    0.000000
150838    0.035714
150839    0.009901
150840    0.458333
150841    0.016807
150842    0.591837
150843    0.000000
150844    0.003003
150845    0.130435
150846    0.000000
150847    0.006289
150848    0.000000
Length: 150849, dtype: float64

In [99]:
print(df.least_popular_ratio)

0     0.000000
1     0.000000
2     0.375000
3     0.050000
4     0.000000
5     0.400000
6     0.000000
7     0.210526
8     0.085366
9     0.000000
10    0.000000
11    0.000000
12    0.014706
13    0.000000
14    0.000000
...
150834    0.000000
150835    0.005354
150836    0.300000
150837    0.000000
150838    0.035714
150839    0.009901
150840    0.458333
150841    0.016807
150842    0.591837
150843    0.000000
150844    0.003003
150845    0.130435
150846    0.000000
150847    0.006289
150848    0.000000
Name: least_popular_ratio, Length: 150849, dtype: float64

In [121]:
# Examine the dependence of churn rate on playing least popular songs:
df.groupby(pd.cut(df.least_popular_ratio,\
          np.percentile(df.least_popular_ratio,[0,71,80,90,100]), include_lowest=True, ))\
          .mean()['label']

# The dependence of churn-rate on least_popular_ratio is not clear, yet...
# for [0,71,80,90,100],the numbers are tested here, if not applicable, then there will be two the same figure for two variation

least_popular_ratio
[0, 0.00151]           0.744190
(0.00151, 0.018]       0.373106
(0.018, 0.069]         0.564356
(0.069, 1]             0.740572
Name: label, dtype: float64

In [111]:
# Examine the dependence of churn rate on playing least popular songs:
df['range'] = pd.cut(df.least_popular_ratio,\
          df.least_popular_ratio.quantile([0,0.8,0.9,1]), include_lowest=True )
print(df)
# The dependence of churn-rate on least_popular_ratio is not clear, yet...

               uid  song_popular device major_song_type  \
0        100052111      0.107143     ar               0
1        100107633      0.500000     ar               0
2        100223381      0.000000     ar               0
3        100581940      0.800000     ar               0
4       100733657       0.434783     ar               0
5       100920280       0.000000     ar               1
6        101122382      0.000000     ar               0
7        101169218      0.263158     ar               0
8        101372876      0.003049     ar               1
9       101374971       0.025641     ar               2
10      101537348       0.533333     ar               0
11       101703605      0.545455     ar               0
12       101907949      0.161765     ar               0
13      101986413       0.461538     ar               0
14       102014109      0.066531     ar               1
15       10214468       0.340909     ar               0
16       102249421      0.634298     ar               0
17      102393511       0.285714     ar               0
18       102823959      0.172662     ar               0
19       102862938      0.385580     ar               0
20      102903317       0.074074     ar               2
21       103131395      0.000000     ar               0
22       103397099      0.043478     ar               0
23      103401036       0.200000     ar               0
24       103463385      0.278325     ar               0
25       103648722      0.000000     ar               0
26       103942548      0.411371     ar               0
27       103950200      0.272059     ar               0
28       103960999      0.096154     ar               0
29      104049422       0.084034     ar               1
...            ...           ...    ...             ...
150819    96468346      0.058824     ar               0
150820    96545402      0.222917     ar               0
150821   96692401       0.400000     ar               0
150822    97017542      0.333333     ar               0
150823    97073008      0.920000     ar               0
150824    97259014      0.270677     ar               0
150825    97276782      0.492188     ar               0
150826    97337964      0.200000     ar               0
150827    97410903      0.928571     ar               0
150828    97458079      0.140351     ar               0
150829    97541709      0.000000     ar               0
150830     9784887      0.363636     ar               0
150831   97866135       0.714286     ar               0
150832   97921723       0.250000     ar               0
150833   97977821       0.027397     ar               1
150834    98112038      0.588050     ar               0
150835    98530597      0.314694     ar               0
150836   98786621       0.100000     ar               1
150837    99031181      1.000000     ar               0
150838     9904526      0.321429     ar               0
150839    99073990      0.386139     ar               0
150840   99275993       0.000000     ar               1
150841    99387196      0.428571     ar               0
150842   99560754       0.000000     ar               0
150843    9963002       0.000000     ar               0
150844   99633829       0.468468     ar               0
150845    99689252      0.080745     ar               0
150846    99725077      0.076923     ar               0
150847   99983627       0.207547     ar               0
150848   99995513       0.000000     ar               0

        song_popularity_ratio  total_play_time  label play_time_label  \
0                    0.107143         0.000000      1           0-100
1                    0.500000         3.033333      1           0-100
2                    0.000000        33.333333      1           0-100
3                    0.800000        17.200000      1           0-100
4                    0.434783       374.766667      1         100-400
5                    0.000000         3.433333      1           0-100
6                    0.000000        17.533333      1           0-100
7                    0.263158        66.916667      1           0-100
8                    0.003049   1078408.400000      0            10k+
9                    0.025641         6.433333      1           0-100
10                   0.533333        25.650000      1           0-100
11                   0.545455        40.450000      1           0-100
12                   0.161765       746.033333      0          700-1k
13                   0.461538        26.333333      1           0-100
14                   0.066531      5680.383333      1           1k-7k
15                   0.340909       271.166667      1         100-400
16                   0.634298      1823.866667      0           1k-7k
17                   0.285714         8.733333      1           0-100
18                   0.172662       522.366667      0         400-700
19                   0.385580       799.916667      0          700-1k
20                   0.074074        27.200000      1           0-100
21                   0.000000         2.383333      1           0-100
22                   0.043478         4.066667      1           0-100
23                   0.200000        18.400000      1           0-100
24                   0.278325      1107.183333      0           1k-7k
25                   0.000000         3.550000      0           0-100
26                   0.411371       269.650000      0         100-400
27                   0.272059       432.433333      0         400-700
28                   0.096154       200.333333      1         100-400
29                   0.084034       598.816667      1         400-700
...                       ...              ...    ...             ...
150819               0.058824        39.566667      1           0-100
150820               0.222917      1082.116667      0           1k-7k
150821               0.400000        14.300000      1           0-100
150822               0.333333        31.050000      1           0-100
150823               0.920000        90.633333      1           0-100
150824               0.270677       334.016667      0         100-400
150825               0.492188       170.583333      1         100-400
150826               0.200000        18.766667      1           0-100
150827               0.928571        25.500000      1           0-100
150828               0.140351       174.750000      0         100-400
150829               0.000000       264.883333      0         100-400
150830               0.363636         5.883333      1           0-100
150831               0.714286        26.350000      1           0-100
150832               0.250000        10.900000      1           0-100
150833               0.027397       321.483333      1         100-400
150834               0.588050      1587.833333      1           1k-7k
150835               0.314694      2792.450000      0           1k-7k
150836               0.100000        35.550000      1           0-100
150837               1.000000         2.016667      0           0-100
150838               0.321429        41.350000      0           0-100
150839               0.386139       112.866667      1         100-400
150840               0.000000        61.800000      1           0-100
150841               0.428571       443.233333      0         400-700
150842               0.000000        79.400000      1           0-100
150843               0.000000         3.550000      1           0-100
150844               0.468468      1011.900000      1           1k-7k
150845               0.080745        72.366667      0           0-100
150846               0.076923        27.616667      0           0-100
150847               0.207547       298.833333      1         100-400
150848               0.000000         2.266667      1           0-100

        avg_play_time  least_pop_count  total_play_count  least_popular_ratio  \
0            0.000000                0               112             0.000000
1           45.500000                0                 4             0.000000
2          125.000000                6                16             0.375000
3           51.600000                1                20             0.050000
4          195.530435                0               115             0.000000
5           41.200000                2                 5             0.400000
6          150.285714                0                 7             0.000000
7          211.315789                4                19             0.210526
8       197269.829268               28               328             0.085366
9            4.948718                0                78             0.000000
10         102.600000                0                15             0.000000
11         220.636364                0                11             0.000000
12         219.421569                3               204             0.014706
13         121.538462                0                13             0.000000
14         115.690088                0              2946             0.000000
15         123.257576                0               132             0.000000
16         226.099174                5               484             0.010331
17          74.857143                0                 7             0.000000
18         225.482014               11               139             0.079137
19          75.227273                0               638             0.000000
20          46.628571                4               108             0.037037
21         143.000000                0                 1             0.000000
22          10.608696                3                23             0.130435
23         110.400000                0                10             0.000000
24         163.623153                0               406             0.000000
25         213.000000                0                 1             0.000000
26          54.110368                0               299             0.000000
27          95.389706               24               272             0.088235
28          38.525641                1               312             0.003205
29         150.962185                7               238             0.029412
...               ...              ...               ...                  ...
150819      69.823529                0                34             0.000000
150820     135.264583                5               480             0.010417
150821      85.800000                0                10             0.000000
150822      51.750000                0                36             0.000000
150823     217.520000                0                25             0.000000
150824     150.684211                1               133             0.007519
150825      79.960938                3               128             0.023438
150826     112.600000                0                10             0.000000
150827     109.285714                0                14             0.000000
150828      91.973684               10               114             0.087719
150829      66.220833                0               240             0.000000
150830      32.090909                0                11             0.000000
150831     112.928571                0                14             0.000000
150832     163.500000                0                 4             0.000000
150833     264.232877                4                73             0.054795
150834     299.591195                0               318             0.000000
150835      99.671029                9              1681             0.005354
150836     213.300000                3                10             0.300000
150837     121.000000                0                 1             0.000000
150838      44.303571                2                56             0.035714
150839      67.049505                1               101             0.009901
150840     154.500000               11                24             0.458333
150841     223.478992                2               119             0.016807
150842      97.224490               29                49             0.591837
150843      71.000000                0                 3             0.000000
150844     182.324324                1               333             0.003003
150845      26.968944               21               161             0.130435
150846      63.730769                0                26             0.000000
150847     112.767296                1               159             0.006289
150848     136.000000                0                 1             0.000000

                 range
0           [0, 0.018]
1           [0, 0.018]
2           (0.069, 1]
3       (0.018, 0.069]
4           [0, 0.018]
5           (0.069, 1]
6           [0, 0.018]
7           (0.069, 1]
8           (0.069, 1]
9           [0, 0.018]
10          [0, 0.018]
11          [0, 0.018]
12          [0, 0.018]
13          [0, 0.018]
14          [0, 0.018]
15          [0, 0.018]
16          [0, 0.018]
17          [0, 0.018]
18          (0.069, 1]
19          [0, 0.018]
20      (0.018, 0.069]
21          [0, 0.018]
22          (0.069, 1]
23          [0, 0.018]
24          [0, 0.018]
25          [0, 0.018]
26          [0, 0.018]
27          (0.069, 1]
28          [0, 0.018]
29      (0.018, 0.069]
...                ...
150819      [0, 0.018]
150820      [0, 0.018]
150821      [0, 0.018]
150822      [0, 0.018]
150823      [0, 0.018]
150824      [0, 0.018]
150825  (0.018, 0.069]
150826      [0, 0.018]
150827      [0, 0.018]
150828      (0.069, 1]
150829      [0, 0.018]
150830      [0, 0.018]
150831      [0, 0.018]
150832      [0, 0.018]
150833  (0.018, 0.069]
150834      [0, 0.018]
150835      [0, 0.018]
150836      (0.069, 1]
150837      [0, 0.018]
150838  (0.018, 0.069]
150839      [0, 0.018]
150840      (0.069, 1]
150841      [0, 0.018]
150842      (0.069, 1]
150843      [0, 0.018]
150844      [0, 0.018]
150845      (0.069, 1]
150846      [0, 0.018]
150847      [0, 0.018]
150848      [0, 0.018]

[150849 rows x 13 columns]

#### Examine the cutoff number of play logs for labeling popular songs: 100, 500,1000,2000

In [126]:
popular_songs_cutoff = [100,500,1000,2000]
cutoff_quantile_dict = {}
for i in range(len(popular_songs_cutoff)):
    print 'procesing no.%d cutoff: %d' % (i,popular_songs_cutoff[i])
    num_pop_songs = sum(df_play.groupby('song_id_new').size()>popular_songs_cutoff[i])
    popular_songs = df_play['song_id_new'].value_counts()[:(num_pop_songs-1)].index
    df_play['is_popular'] = df_play.song_id_new.isin(set(popular_songs))
    df_temp = df_play.groupby('uid').mean()
    cutoff_quantile_dict[i] = df_temp.groupby(pd.cut(df_temp.is_popular, \
                           np.percentile(df_temp.is_popular, [0,25,50,73,100]),include_lowest = True)).mean()['label']
cutoff_quantile_dict

procesing no.0 cutoff: 100
procesing no.1 cutoff: 500
procesing no.2 cutoff: 1000
procesing no.3 cutoff: 2000

{0: is_popular
 [0, 0.521]        0.699785
 (0.521, 0.803]    0.598016
 (0.803, 0.993]    0.584914
 (0.993, 1]        0.864519
 Name: label, dtype: float64, 1: is_popular
 [0, 0.25]         0.719074
 (0.25, 0.545]     0.606984
 (0.545, 0.802]    0.621590
 (0.802, 1]        0.806090
 Name: label, dtype: float64, 2: is_popular
 [0, 0.149]        0.731088
 (0.149, 0.412]    0.608505
 (0.412, 0.673]    0.624869
 (0.673, 1]        0.791853
 Name: label, dtype: float64, 3: is_popular
 [0, 0.068]        0.748416
 (0.068, 0.277]    0.597699
 (0.277, 0.521]    0.628730
 (0.521, 1]        0.782464
 Name: label, dtype: float64}

In [127]:
pd.DataFrame({popular_songs_cutoff[0]:list(cutoff_quantile_dict[0]),
             popular_songs_cutoff[1]:list(cutoff_quantile_dict[1]),
             popular_songs_cutoff[2]:list(cutoff_quantile_dict[2]),
             popular_songs_cutoff[3]:list(cutoff_quantile_dict[3])})

       100       500       1000      2000
0  0.699785  0.719074  0.731088  0.748416
1  0.598016  0.606984  0.608505  0.597699
2  0.584914  0.621590  0.624869  0.628730
3  0.864519  0.806090  0.791853  0.782464

The different cutoffs give similar results:

    When the user does play popular songs a lot( pop ratio in the >75% quantile among all users), the churn rate
    become higher.
But from the table above, it seems the mean popular music play counts does not seem to easily distinguish churned users from loyal users. Now check the accumulated play_counts of popular music.

In [128]:
popular_songs_cutoff = [100,500,1000,2000]
cutoff_quantile_dict = {}
for i in range(len(popular_songs_cutoff)):
    print 'procesing no.%d cutoff: %d' % (i,popular_songs_cutoff[i])
    num_pop_songs = sum(df_play.groupby('song_id_new').size()>popular_songs_cutoff[i])
    popular_songs = df_play['song_id_new'].value_counts()[:(num_pop_songs-1)].index
    df_play['is_popular'] = df_play.song_id_new.isin(set(popular_songs))
    df_temp = df_play[['uid', 'is_popular','label']].groupby('uid').\
              agg({'is_popular': ['sum'], 'label':['mean']}).\
              rename(columns = {'is_popular': 'is_popular_count', 'label': 'label'})
    df_temp.columns = df_temp.columns.get_level_values(0)
    df_temp.label = df_temp.label.apply(lambda x: x>0)
    cutoff_quantile_dict[i] = df_temp.groupby(pd.cut(df_temp.is_popular_count, \
                           np.percentile(df_temp.is_popular_count, [0,25,50,75,100]),include_lowest = True)).\
                           mean()['label']
cutoff_quantile_dict

procesing no.0 cutoff: 100
procesing no.1 cutoff: 500
procesing no.2 cutoff: 1000
procesing no.3 cutoff: 2000

{0: is_popular_count
 [0, 6]              0.864386
 (6, 20]             0.815432
 (20, 75]            0.677121
 (75, 30670]         0.403405
 Name: label, dtype: float64, 1: is_popular_count
 [0, 3]              0.849331
 (3, 14]             0.800635
 (14, 51]            0.695523
 (51, 25796]         0.416129
 Name: label, dtype: float64, 2: is_popular_count
 [0, 2]              0.834818
 (2, 11]             0.791746
 (11, 40]            0.710228
 (40, 23578]         0.424929
 Name: label, dtype: float64, 3: is_popular_count
 [0, 1]              0.824643
 (1, 8]              0.782513
 (8, 29]             0.711773
 (29, 10072]         0.439912
 Name: label, dtype: float64}

When using 2000 as the cutoff play counts for popular songs, the 25% and 75% quantiles of users' popular
song values, 8 and 29 can differentiate the users significantly. Say n=played_times:

    When n < 8, churn possibility is high.

    When n > 29, churn possibility is low.

When using 100 as the cutoff play counts,25%, 75% quantile cutoffs are 7 and 75 for defining popular songs as played more than 100 times. Say n=played_times:

    When n < 7, churn possibility is high.

    When n > 75, churn possibility is low.
Looks like 100 works the best as the last quantile gives the smallest churn-rate.

In [129]:
# cutoff value for popular song play count is 100
popular_song_cutoff = 100
popular_songs_num = sum(df_play.groupby('song_id_new').size() > popular_song_cutoff)
popular_songs = df_play['song_id_new'].value_counts()[:(popular_songs_num-1)].index
df_play['is_popular'] = df_play.song_id_new.isin(set(popular_songs))

In [130]:
df_temp = df_play[['uid','is_popular','label']].groupby('uid').sum()
df_temp.label = df_temp.label.apply(lambda x: int(x>0))
df_temp.groupby(pd.cut(df_temp.is_popular, \
                           np.percentile(df_temp.is_popular, [0, 25,75, 100]),include_lowest = True)).mean()['label']

is_popular
[0, 6]         0.864386
(6, 75]        0.743564
(75, 30670]    0.403405
Name: label, dtype: float64

In [131]:
df['most_popular_count'] = list(df_play.groupby('uid').sum()['is_popular'])
df.head()

,uid,song_popular,device,major_song_type,song_popularity_ratio,total_play_time,label,play_time_label,avg_play_time,least_pop_count,total_play_count,least_popular_ratio,range,most_popular_count
0,100052111,0.107143,ar,0,0.107143,0.000000,1,0-100,0.000000,0,112,0.000,"[0, 0.018]",58
1,100107633,0.500000,ar,0,0.500000,3.033333,1,0-100,45.500000,0,4,0.000,"[0, 0.018]",4
2,100223381,0.000000,ar,0,0.000000,33.333333,1,0-100,125.000000,6,16,0.375,"(0.069, 1]",0
3,100581940,0.800000,ar,0,0.800000,17.200000,1,0-100,51.600000,1,20,0.050,"(0.018, 0.069]",17
4,100733657,0.434783,ar,0,0.434783,374.766667,1,100-400,195.530435,0,115,0.000,"[0, 0.018]",72

#### Examine the count of plays in different time window

In [132]:
df_daily_count = df_play.groupby(['uid','date']).size().unstack().fillna(0)

In [133]:
df_daily_count.head()

date,20170301,20170302,20170303,20170304,20170305,20170306,20170307,20170308,20170309,20170330,...,20170412,20170413,20170414,20170415,20170416,20170417,20170418,20170419,20170420,20170421
uid,,,,,,,,,,,,,,,,,,,,,
100052111,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,112,0,0
100107633,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
100223381,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
100581940,0,0,0,0,0,0,0,0,0,20,...,0,0,0,0,0,0,0,0,0,0
100733657,16,6,16,0,32,0,15,9,21,0,...,0,0,0,0,0,0,0,0,0,0

In [134]:
days = df_daily_count.shape[1]
days

33

#### Divide the 33 days into 5 time window, each window is approximately 1 week.
(0,9], (9,12], (12,19], (19,26], (26, 33] are the days windows from the cut-off date 2017/04/22.

In [135]:
day_windows = [days, 26, 19, 12, 9, 0]

In [136]:
for i in xrange(len(day_windows)-1): 
    for j in range(day_windows[i+1],day_windows[i]):
        print j,
    print

26 27 28 29 30 31 32
19 20 21 22 23 24 25
12 13 14 15 16 17 18
9 10 11
0 1 2 3 4 5 6 7 8

In [137]:
for i in xrange(len(day_windows)-1):
    if i == len(day_windows)-2:
        colname = 'count_in_recent_'+str(i+4)+'week'
    else:
        colname = 'count_in_recent_'+str(i+1)+'week'
    df[colname] = list(df_daily_count.iloc[:,day_windows[i+1]:day_windows[i]].sum(axis = 1).astype('int'))
df.head()

,uid,song_popular,device,major_song_type,song_popularity_ratio,total_play_time,label,play_time_label,avg_play_time,least_pop_count,total_play_count,least_popular_ratio,range,most_popular_count,count_in_recent_1week,count_in_recent_2week,count_in_recent_3week,count_in_recent_4week,count_in_recent_8week
0,100052111,0.107143,ar,0,0.107143,0.000000,1,0-100,0.000000,0,112,0.000,"[0, 0.018]",58,112,0,0,0,0
1,100107633,0.500000,ar,0,0.500000,3.033333,1,0-100,45.500000,0,4,0.000,"[0, 0.018]",4,0,0,4,0,0
2,100223381,0.000000,ar,0,0.000000,33.333333,1,0-100,125.000000,6,16,0.375,"(0.069, 1]",0,0,1,15,0,0
3,100581940,0.800000,ar,0,0.800000,17.200000,1,0-100,51.600000,1,20,0.050,"(0.018, 0.069]",17,0,0,0,20,0
4,100733657,0.434783,ar,0,0.434783,374.766667,1,100-400,195.530435,0,115,0.000,"[0, 0.018]",72,0,0,0,0,115

In [138]:
df.shape

(150849, 19)

In [143]:
df = df.drop('range',1)

In [144]:
df.shape

(150849, 18)

In [145]:
df.tail()

,uid,song_popular,device,major_song_type,song_popularity_ratio,total_play_time,label,play_time_label,avg_play_time,least_pop_count,total_play_count,least_popular_ratio,most_popular_count,count_in_recent_1week,count_in_recent_2week,count_in_recent_3week,count_in_recent_4week,count_in_recent_8week
150844,99633829,0.468468,ar,0,0.468468,1011.900000,1,1k-7k,182.324324,1,333,0.003003,276,0,0,0,0,333
150845,99689252,0.080745,ar,0,0.080745,72.366667,0,0-100,26.968944,21,161,0.130435,42,2,0,25,134,0
150846,99725077,0.076923,ar,0,0.076923,27.616667,0,0-100,63.730769,0,26,0.000000,9,0,0,14,12,0
150847,99983627,0.207547,ar,0,0.207547,298.833333,1,100-400,112.767296,1,159,0.006289,108,0,0,0,0,159
150848,99995513,0.000000,ar,0,0.000000,2.266667,1,0-100,136.000000,0,1,0.000000,0,0,0,0,1,0

In [146]:
labels = list(df['label'])
df = df.drop(['label','least_popular_ratio','total_play_count'],axis = 1)
df.head()

,uid,song_popular,device,major_song_type,song_popularity_ratio,total_play_time,play_time_label,avg_play_time,least_pop_count,most_popular_count,count_in_recent_1week,count_in_recent_2week,count_in_recent_3week,count_in_recent_4week,count_in_recent_8week
0,100052111,0.107143,ar,0,0.107143,0.000000,0-100,0.000000,0,58,112,0,0,0,0
1,100107633,0.500000,ar,0,0.500000,3.033333,0-100,45.500000,0,4,0,0,4,0,0
2,100223381,0.000000,ar,0,0.000000,33.333333,0-100,125.000000,6,0,0,1,15,0,0
3,100581940,0.800000,ar,0,0.800000,17.200000,0-100,51.600000,1,17,0,0,0,20,0
4,100733657,0.434783,ar,0,0.434783,374.766667,100-400,195.530435,0,72,0,0,0,0,115

In [147]:
df['label'] = labels
df.label = df.label.astype(int)
df.head()

,uid,song_popular,device,major_song_type,song_popularity_ratio,total_play_time,play_time_label,avg_play_time,least_pop_count,most_popular_count,count_in_recent_1week,count_in_recent_2week,count_in_recent_3week,count_in_recent_4week,count_in_recent_8week,label
0,100052111,0.107143,ar,0,0.107143,0.000000,0-100,0.000000,0,58,112,0,0,0,0,1
1,100107633,0.500000,ar,0,0.500000,3.033333,0-100,45.500000,0,4,0,0,4,0,0,1
2,100223381,0.000000,ar,0,0.000000,33.333333,0-100,125.000000,6,0,0,1,15,0,0,1
3,100581940,0.800000,ar,0,0.800000,17.200000,0-100,51.600000,1,17,0,0,0,20,0,1
4,100733657,0.434783,ar,0,0.434783,374.766667,100-400,195.530435,0,72,0,0,0,0,115,1

In [148]:
df.shape

(150849, 16)

#### Save dataframe as pkl

In [149]:
filename_pickle = '/Users/ZhijingYe/Desktop/data/output/play_full_features_and_label.pkl'
df.to_pickle(filename_pickle)

In [152]:
filename_pickle = '/Users/ZhijingYe/Desktop/data/output/play_log_features_and_label.pkl'
df.to_pickle(filename_pickle)

In [150]:
# test df is saved successfully
test_df = pd.read_pickle(filename_pickle)
test_df.shape

(150849, 16)

In [151]:
test_df.head()

,uid,song_popular,device,major_song_type,song_popularity_ratio,total_play_time,play_time_label,avg_play_time,least_pop_count,most_popular_count,count_in_recent_1week,count_in_recent_2week,count_in_recent_3week,count_in_recent_4week,count_in_recent_8week,label
0,100052111,0.107143,ar,0,0.107143,0.000000,0-100,0.000000,0,58,112,0,0,0,0,1
1,100107633,0.500000,ar,0,0.500000,3.033333,0-100,45.500000,0,4,0,0,4,0,0,1
2,100223381,0.000000,ar,0,0.000000,33.333333,0-100,125.000000,6,0,0,1,15,0,0,1
3,100581940,0.800000,ar,0,0.800000,17.200000,0-100,51.600000,1,17,0,0,0,20,0,1
4,100733657,0.434783,ar,0,0.434783,374.766667,100-400,195.530435,0,72,0,0,0,0,115,1